@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600&display=swap');

:root{
    --color:#10B981;
}

body {
    font-family: 'Roboto Slab', serif;
}

/** container **/

.container{
    padding-left: 1rem;
    padding-right: 1rem;
    border: 2px solid red;
}

.container-center{
    max-width: 600px;
    margin: auto;
}

.link{
    text-decoration: none;
    padding:0.5rem 1rem;
}
.link-primary{
    background-color:var(--color);
    border-radius: 0.5rem;
    color:white;
}
.link-secondary{
    border-radius: 0.5rem;
    color:var(--color);
    border: 1px solid var(--color);
}